/* CSS HEX */
/* --charcoal: #264653ff;
--persian-green: #2a9d8fff;
--orange-yellow-crayola: #e9c46aff;
--sandy-brown: #f4a261ff;
--burnt-sienna: #e76f51ff; */

/* CSS HSL */
/* --charcoal: hsla(197, 37%, 24%, 1);
--persian-green: hsla(173, 58%, 39%, 1);
--orange-yellow-crayola: hsla(43, 74%, 66%, 1);
--sandy-brown: hsla(27, 87%, 67%, 1);
--burnt-sienna: hsla(12, 76%, 61%, 1); */

/* Global */
* {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  background-color: #264653ff;
  font-size: 16px;
  margin: 0;
  padding: 0;
  border: 0;
}

h1 {
  font-size: 2.5em;

}
h2 {
  font-size: 2.25em;
}

h3 {
  font-size: 2.0em;
}

h4 {
  font-size: 1.75em;
}

h5 {
  font-size: 1.5em;
}

h6 {
  font-size: 1.25em;
}

code {
  background-color: lightgrey;
  color: red;
}

span {
  /* background-color: ; */
}

.wrap__page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  margin: 5% auto;
}

/* Table */
.table {
  max-width: 1024px;
  margin: 20px auto;
  background-color: #2a9d8fff;
}

.table__td--monospace, code {
  font-family: monospace;
}

tr {
  row-gap: 10px;
}

td {
  text-align: left;
  column-width: 340px;
}
